.container {
    max-width: 60rem;
}
.m-y-md {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.text-center {
    text-align: center;
}
.col-sm-3 {
    width: 25%;
}
.text-muted {
    color: #818A91;
}
.img-circle {
    border-radius: 50%;
}
.trombino img {
    height: 100px;
    width: 100px;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
}

*, *::before, *::after {
    box-sizing: border-box;
    -moz-user-select: none;
}
.row {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}
